.auth-section {
    min-height: 100vh;
    margin: 0% auto 0 auto;
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo {
    height: 40px;
    margin-bottom: 10px;
}

.auth-container-1 {
    padding: 20px;
    margin-right: 30px;
}

.auth-container-2 {
    margin-top: 80px;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container-2 form {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%),
        0 20px 48px rgb(0 0 0 / 5%),
        0 1px 4px rgb(0 0 0 /10%)
}

.auth-container-2 form input {
    padding: 10px;
    width: calc(100% - 10px);
    border: solid 1px #0000003e;
    font-size: 13px;
    border-radius: 5px;
}

.auth-container-2 form label:nth-child(1) h4,
.auth-container-2 form label:nth-child(2) h4,
.auth-container-2 form label:nth-child(3) h4 {
    color: hsl(210, 8%, 30%);
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
}

.auth-container-2 .checkbox {
    display: flex;
}

.auth-container-2 .checkbox input {
    height: 15px;
    width: 15px;
}

.auth-section .light-color {
    font-size: 13px;
    color: #666767;
}

.auth-section .checkbox label {
    font-size: 13px;
}

/*button*/
.auth-btn {
    margin-top: 10px;
    padding: 10px 5px;
    background-color: #009dff;
    border: solid 1px #009dff;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;
}

.auth-btn:hover {
    background-color: #0188dc;
}

.handle-switch-btn {
    background-color: transparent;
    color: #007ac6;
    border: none;
    font-size: 13px;
    cursor: pointer;
    margin-left: 6px;
}

.auth-section a {
    color: #007ac6;
    text-decoration: none;
}

.auth-section .last-line {
    padding: auto 100px;
    /* color: red; */
    background-color: #007ac6;
}

.auth-section .frgt-psd {
    font-size: 12px;
    margin-top: 15px;
    margin-right: 15px;
}

/* about auth container */
.about-auth-container a {
    font-size: 13px;
}

.about-auth-container ul {
    list-style: none;
}