@tailwind base;
@tailwind components;
@tailwind utilities;


.home-container-1 {
    min-height: 100vh;
    max-width: 1250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
}

.home-container-2 {
    max-width: 1100px;
    width: calc(100% - 164px);
    border: 1px solid #d6d9dc;
    padding: 24px;
    box-sizing: border-box;
}

.ques-details-page {
    width: calc(100% - 300px - 24px);
    float: left;
    margin: 25px 0;
    padding: 0;
}

.error {
    margin: 5px 0 0 5px;
    padding: 0;
    color: red;
    font-size: 0.8rem;
}

.logo {
    height: 30px;
}

.btn {}